.layout{
    margin : 0 80px;
}

.table-layout{
    padding: 40px;
    border: 1px solid darkgrey ;
    color: black;
    margin: 10px 0;
    border-radius: 4px;
}

.table-layout .ant-input{
    background: #dddada;
    color: black !important;
    margin: 0 8px 0 0;
}

.table-layout .ant-table-body, .table-layout .ant-table-header-column{
    font-weight: bold;
}

.table-layout .ant-input::placeholder{
    color: #918b8b;
}

.table-inputs{
    margin: 10px 0;
}

.table-inputs .ant-btn-primary{
    font-weight: bold;
    color: white;
    background: darkblue;
    border-style: none;
}

.action-icon{
     color: black;
     font-weight:bold;
    font-size:26px;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.content p {
    margin: 0;
}

.statusBtn:focus {
    background-color: #23d8a0 !important;
}

.closeIcon {
    color: red !important;
    cursor: pointer;
  }
  
.editIcon {
    cursor: pointer;
    color: green !important;
    margin-right: 5px;
    margin-left: 10px;
}